.feature {
  max-width: 335px;
  margin: 0 auto;
  margin-top: 80px;
}

.feature-image {
  width: auto;
  height: 80px;
}

.feature-title {
  margin-top: 2rem;
}

.feature-description {
  margin-top: 0.5rem;
}