footer h2, footer, ul, footer li,  footer a, footer img, footer p {
  text-align: left;
  text-decoration: none;
  list-style: none
}

footer {
  width: 100svw;
  padding: 60px 5%;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #0B1524;
}

.footer-logo {
  width: 100%;
  max-width: 110px;
  padding-left: 10px;
}

.f-flex {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.footer-location {
  margin-top: 2.2rem;
}

.footer-location-icon {
  height: 22px;
}

.footer-text {
  font-size: 0.9rem;
  color: #d2d2d2;
}

.footer-links-wrapper{
  margin-top: 3.5rem;
}

.footer-link {
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #d2d2d2;
}

.footer-social-media {
  margin-top: 3.5rem;
}

.footer-sm-links-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media only screen and (min-width: 650px) {
  .footer-info-wrapper {
    display: grid;
    grid:
     "footer-location footer-location footer-location" 
     "footer-contacts footer-contacts footer-contacts" 
     "footer-about-us footer-contact-us footer-social-media"
     / 1fr 1fr 1fr
     ; 
  }
  .footer-location {grid-area: footer-location}
  .footer-contacts {grid-area: footer-contacts}
  .footer-about-us {grid-area: footer-about-us}
  .footer-contact-us {
    grid-area: footer-contact-us;
    justify-self: center;
  }
  .footer-social-media {grid-area: footer-social-media}
  
}

@media only screen and (min-width: 768px) {
  footer {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 850px) {
  .footer-text {
    font-size: 1rem;
  }
  
  .footer-link {
    font-size: 1rem;
  }
} 